
//TODO: eliminar al terminar refactor
.a-logo-profile{
  font-weight: bold;
  display: block;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  background-color: white;
  background-image: url("https://lh5.googleusercontent.com/-npFJ3EmCofM/AAAAAAAAAAI/AAAAAAAAAAA/AMZuucmP1z7Az1E1GNpTBRSya57o2hrzRA/s96-c/photo.jpg");
}
