
// Private Variables

// Paleta Colores Prueba
$ebony-clay:#222831;
$bright-gray: #393E46;
$bright-gray2: #6b6a6a;
$bright-gray3: #9d9c9c;
$bondi-blue: #5ce28e;
$hover-link: #379d8b;
$gallery : #ffffff;
$gallery2 : #eee;


// Publics Variables
$lighter-color: $gallery;
$lighter-color2: $gallery2;
$darker-color: $ebony-clay;
$primary-color: $ebony-clay;
$gray-color: $bright-gray;
$gray-color2: $bright-gray2;
$gray-color3: $bright-gray3;
$color-hover: $bondi-blue;
$color-hover-link: $hover-link;
